In [1]:
from machine import *

In [2]:
import requests

username = 'tanishq22@iiserb.ac.in'
password = 'T@n!&hq@251004'

# Create a session to persistently store the headers
s = requests.Session()

# Save credentials into session
s.auth = (username, password)

# Send a POST request to the /authentication API
response = s.post('https://api.worldquantbrain.com/authentication')
print(response.content)

b'{"user":{"id":"TS29980"},"token":{"expiry":14400.0},"permissions":["BEFORE_AND_AFTER_PERFORMANCE_V2","TUTORIAL","WORKDAY"]}'

In [3]:
def get_datasets(
    s,
    instrument_type: str = 'EQUITY',
    region: str = 'USA',
    delay: int = 1,
    universe: str = 'TOP3000'
):
    url = "https://api.worldquantbrain.com/data-sets?" +\
        f"instrumentType={instrument_type}&region={region}&delay={str(delay)}&universe={universe}"
    result = s.get(url)
    datasets_df = pd.DataFrame(result.json()['results'])
    return datasets_df

In [4]:
datasets_df = get_datasets(s) # by default we load all datasets USA TOP3000 delay 1
datasets_df.head() # DataFrame.head() shows first 5 rows of the dataframe

,id,name,description,category,subcategory,region,delay,universe,coverage,valueScore,userCount,alphaCount,fieldCount,themes,researchPapers
0,analyst4,Analyst Estimate Data for Equity,This dataset provides details and aggregations...,"{'id': 'analyst', 'name': 'Analyst'}","{'id': 'analyst-analyst-estimates', 'name': 'A...",USA,1,TOP3000,0.6036,1.0,9217,107810,350,[],[]
1,fundamental2,Report Footnotes,This dataset holds fundamental items included ...,"{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-footnotes', 'name': 'Footn...",USA,1,TOP3000,0.4089,1.0,13786,54496,318,[],[]
2,fundamental6,Company Fundamental Data for Equity,Fundamental database covers most of the world'...,"{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",USA,1,TOP3000,0.7445,1.0,33014,269081,886,[],"[{'type': 'research', 'title': 'Research Paper..."
3,model16,Fundamental Scores,This dataset ranks stocks based on fundamental...,"{'id': 'model', 'name': 'Model'}","{'id': 'model-valuation-models', 'name': 'Valu...",USA,1,TOP3000,0.3077,1.0,356,1038,8,[],"[{'type': 'research', 'title': 'Research Paper..."
4,model51,Systematic Risk Metrics,This is a risk-model data offering several met...,"{'id': 'model', 'name': 'Model'}","{'id': 'model-risk-models', 'name': 'Risk Mode...",USA,1,TOP3000,0.7724,1.0,2324,8430,16,[],[]

In [5]:
datasets = datasets_df[datasets_df['alphaCount']>10000]
len(datasets)

11

In [21]:
datasets

,id,name,description,category,subcategory,region,delay,universe,coverage,valueScore,userCount,alphaCount,fieldCount,themes,researchPapers
0,analyst4,Analyst Estimate Data for Equity,This dataset provides details and aggregations...,"{'id': 'analyst', 'name': 'Analyst'}","{'id': 'analyst-analyst-estimates', 'name': 'A...",USA,1,TOP3000,0.6036,1.0,9217,107810,350,[],[]
1,fundamental2,Report Footnotes,This dataset holds fundamental items included ...,"{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-footnotes', 'name': 'Footn...",USA,1,TOP3000,0.4089,1.0,13786,54496,318,[],[]
2,fundamental6,Company Fundamental Data for Equity,Fundamental database covers most of the world'...,"{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",USA,1,TOP3000,0.7445,1.0,33014,269081,886,[],"[{'type': 'research', 'title': 'Research Paper..."
5,model77,Analysts' Factor Model,Factor model dataset based on anaysts' evaluation,"{'id': 'model', 'name': 'Model'}","{'id': 'model-technical-models', 'name': 'Tech...",USA,1,TOP3000,0.8073,2.0,956,31430,1546,[],[]
6,news12,US News Data,This dataset specializes in matching financial...,"{'id': 'news', 'name': 'News'}","{'id': 'news-news', 'name': 'News'}",USA,1,TOP3000,0.8034,1.0,9402,46257,322,[],[]
7,news18,Ravenpack News Data,This dataset provides news sentiment and other...,"{'id': 'news', 'name': 'News'}","{'id': 'news-news-sentiment', 'name': 'News Se...",USA,1,TOP3000,0.6779,1.0,1612,13894,75,[],"[{'type': 'research', 'title': 'Research Paper..."
8,option8,Volatility Data,This is an option dataset which provides histo...,"{'id': 'option', 'name': 'Option'}","{'id': 'option-option-volatility', 'name': 'Op...",USA,1,TOP3000,0.6948,1.0,9212,39463,64,[],[]
9,option9,Options Analytics,This dataset provide options metrics indicatin...,"{'id': 'option', 'name': 'Option'}","{'id': 'option-option-analytics', 'name': 'Opt...",USA,1,TOP3000,0.7039,1.0,6312,22356,74,[],"[{'type': 'research', 'title': 'Research Paper..."
10,pv1,Price Volume Data for Equity,"A dataset containing price, volume, close, ope...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-price-volume', 'name': 'Price Volume'}",USA,1,TOP3000,1.0000,1.0,34916,631341,20,[],"[{'type': 'research', 'title': 'Research Paper..."
11,pv13,Relationship Data for Equity,The dataset outputs various classifications an...,"{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",USA,1,TOP3000,0.8109,1.0,5432,36818,168,[],[]
13,socialmedia12,Sentiment Data for Equity,This dataset provides sentiment data with diff...,"{'id': 'socialmedia', 'name': 'Social Media'}","{'id': 'socialmedia-social-media', 'name': 'So...",USA,1,TOP3000,0.9645,1.0,10216,21613,12,[],"[{'type': 'research', 'title': 'Research Paper..."

In [22]:
len(datasets_df)

16

In [6]:
pc_fields = []
matrix = []
vector = []
for dd in datasets['id']:
    df = get_datafields(s, dataset_id = dd, region='USA', universe='TOP3000', delay=1)
    df_matrix = process_datafields(df, "matrix")
    df_vector= process_datafields(df, "vector")
    print(len(df_matrix))
    print(len(df_vector))
    matrix.append(df_matrix)
    vector.append(df_vector)
    # pc_fields = pc_fields + temp

202
1332
318
0
574
2808
1546
0
75
2223
61
126
64
0
74
0
12
0
28
45
6
54

In [11]:
import numpy as np

In [15]:
x = []
for i in matrix:
    for j in i:
        x.append(j)

In [16]:
len(x)

2960

In [17]:
y = []
for i in vector:
    for j in i:
        y.append(j)

In [18]:
len(y)

6588

In [21]:
with open("output.txt", "a") as f:
    f.write("matrix:" +  str(x) + "\n")

In [22]:
with open("output.txt", "a") as f:
    f.write("vector:" +  str(y) + "\n")

In [25]:
df = get_datafields(s, dataset_id = datasets['id'][2], region='USA', universe='TOP3000', delay=1)

In [32]:
# df_1 = pd.DataFrame()
sum = 0
for dd in datasets['id']:
    df = get_datafields(s, dataset_id = dd, region='USA', universe='TOP3000', delay=1)
    # df.to_csv("output.csv", mode='a', header=False)
    sum += len(df)

In [33]:
sum

3835